version: '3.8'

services:
  kottster:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: kottster
    networks:
      - ingress-network

    environment:
      - PORT=5480
      - VITE_DOCKER_MODE=true

    volumes: []

    labels:
      - "traefik.enable=true"

      # Router HTTPS
      - "traefik.http.routers.kottster.rule=Host(`kottster.homelab.lan`)"
      - "traefik.http.routers.kottster.entrypoints=websecure"
      - "traefik.http.routers.kottster.tls=true"

      # Service interne
      - "traefik.http.services.kottster.loadbalancer.server.port=5480"
      - "traefik.http.services.kottster.loadbalancer.server.scheme=http"

      # (Optionnel) Protection TinyAuth
      # - "traefik.http.routers.kottster.middlewares=tinyauth@docker"

    restart: unless-stopped

networks:
  ingress-network:
    external: true
